<form [formGroup]="filtersForm" class="filters-form">
  <div class="row">
    <div class="form-group">
      <label>Поиск</label>
      <input type="text" placeholder="Введите название" formControlName="search"/>
    </div>
  </div>
  <div class="centered-row">
    <div class="form-group">
      <label>Категории</label>
      <div class="chips-container">
        @for (cat of categoryOptions; track cat) {
          <label class="chip">
            <input type="checkbox" [value]="cat" (change)="toggleCategory(cat)" />
            <span class="chip-label">{{ cat }}</span>
          </label>
        }
      </div>
    </div>
  </div>
  <div class="centered-row">
    <div class="form-group">
      <label>Аллергии и предпочтения</label>
      <div class="chips-container">
        @for (flag of flagOptions; track flag) {
          <label class="chip">
            <input type="checkbox" [value]="flag" (change)="toggleFlag(flag)" />
            <span class="chip-label">{{ flag }}</span>
          </label>
        }
      </div>
    </div>
  </div>
</form>